In [26]:
#
import requests
import csv

class ConvertUnit:

    def __init__(self,rate,inputValue):
        self.r = rate
        self.i = inputValue
    
    def convert(self):
        return self.i/self.r

response = requests.get('https://api.frankfurter.app/latest?amount=1&from=USD&to=EUR')

exchangeRate = response.json()
ratE = exchangeRate['rates']['EUR']



inputValue = float(input("Enter USD value:"))

converto = ConvertUnit(ratE,inputValue)
print(f'The Euro value is: {converto.convert()}')

The Euro value is: 5.494988570423774

In [27]:
response1 = requests.get('https://www.metaweather.com/api/location/1521894/')
weather = response1.json()

with open('weatherData.csv','w',newline = '') as f: #newline = '' to stop making a new line while starting writing
    writer = csv.DictWriter(f, fieldnames=["Temp","Humidity",'Visibility','Air_pressure','Wind_speed','Date','Time'])
    writer.writeheader()
    for e in weather['consolidated_weather']:
        Xtemp = e["the_temp"]
        Xhum = e["humidity"]
        Xvisi = e['visibility']
        XairPress = e['air_pressure']
        Xwind = e['wind_speed']
        Xdate = e['applicable_date']
        Xtime = e['created']
        writer.writerow(
            {
                "Temp" : Xtemp,
                "Humidity" : Xhum,
                'Visibility' : Xvisi,
                'Air_pressure' : XairPress,
                'Wind_speed' : Xwind,
                'Date' : Xdate,
                'Time' : Xtime

            }
        )

import pandas as pd

data = pd.read_csv('weatherData.csv')
data

,Temp,Humidity,Visibility,Air_pressure,Wind_speed,Date,Time
0,15.210,39,9.396997,1022.0,8.066171,2022-03-12,2022-03-11T22:34:25.471098Z
1,16.730,40,10.929298,1021.5,7.708689,2022-03-13,2022-03-11T22:34:29.225067Z
2,14.690,40,10.808752,1024.5,9.076012,2022-03-14,2022-03-11T22:34:32.049202Z
3,15.685,35,10.380006,1025.5,10.818089,2022-03-15,2022-03-11T22:34:34.577232Z
4,15.870,38,9.999727,1026.0,6.086448,2022-03-16,2022-03-11T22:34:37.454123Z
5,15.130,39,9.999727,1026.0,3.182505,2022-03-17,2022-03-11T22:34:40.823066Z

In [28]:
response2 = requests.get('https://jsonplaceholder.typicode.com/users')
usersData = response2.json()

with open('usersData.csv','w',newline = '') as f: #newline = '' to stop making a new line while starting writing
    writer = csv.DictWriter(f, fieldnames=["name","username","email","street","suite","city","zipcode","lat","lng"])
    writer.writeheader()
    for e in usersData:
        Xname = e["name"]
        Xuser = e["username"]
        Xemail = e['email']
        Xstreet = e['address']['street']
        Xsuite = e['address']['suite']
        Xcity= e['address']['city']
        Xzip = e['address']['zipcode']
        Xlat = e['address']['geo']['lat']
        Xlng = e['address']['geo']['lng']
        writer.writerow(
            {
                "name" : Xname,
                "username" : Xuser,
                'email' : Xemail,
                'street' : Xstreet,
                'suite' : Xsuite,
                'city' : Xcity,
                'zipcode' : Xzip,
                'lat' : Xlat,
                'lng' : Xlng

            }
        )
import pandas as pd1

data1 = pd1.read_csv('usersData.csv')
data1

,name,username,email,street,suite,city,zipcode,lat,lng
0,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232